<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 1</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact index">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo">
          <img src="img/Ecooking_logo_black.png" alt="logo" />
        </div>

        <div class="container container__sm bg-gray">
          <img src="img/img1.png" alt="product">
          <a href="#" class="btn">Click to begin</a>
        </div>
      </div>

      <div class="grid-position--bottom">
      </div>
    </div>
  </main>
</body>
</html>