<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 5</title>
  <meta name="odore" content="release-probe" nextstep="index.html" />
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo bg-white">
          <img src="img/Ecooking_logo_black.png" alt="logo" />
        </div>

        <div class="container">
          <h3>
            Thank you
          </h3>

          <h3>
            Your sample is on <br> the way
          </h3>
        </div>
      </div>

      <div class="grid-position--bottom">
      </div>
    </div>
  </main>
</body>

</html>