<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 4</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact">
    <div class="logo bg-white">
      <img src="img/Ecooking_logo_black.png" alt="logo" />
    </div>

    <div class="header-block bg-gray">
      <h5>Thank you</h5>

      <h2>
        Please enter your details to receive your sample:
      </h2>
    </div>

    <form action="" class="details-form">
      <fieldset>
        <div class="form-group">
          <input class="form-input" name="first_name" type="text">
          <label class="form-label" for="subscribe">First name</label>
        </div>
        <div class="form-group">
          <input class="form-input" name="last_name" type="text">
          <label class="form-label" for="last_name">Last name</label>
        </div>
        <div class="form-group">
          <input class="form-input" name="email" type="email" id="email">
          <label class="form-label" for="email">Email address</label>
        </div>
        <div class="form-group">
          <input id="birth_date" class="date" name="birth_date" type="date" placeholder="Date of birth"
            data-date="Date of birth" data-date-format="DD MMM YYYY" max="2020-12-09">
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <input class="form-input" name="address" type="text">
          <label class="form-label" for="address">Address</label>
        </div>
        <div class="form-row two-column">
          <div class="form-group">
            <input class="form-input" name="city" type="text">
            <label class="form-label" for="city">City</label>
          </div>
          <div class="form-group">
            <input class="form-input" name="zip" type="text">
            <label class="form-label" for="zip">Post code</label>
          </div>
        </div>
        <div class="form-group focused">
          <input class="form-input filled" name="country" type="text" value="United kingdom" readonly="">
          <label class="form-label" for="country">Country</label>
        </div>
      </fieldset>

      <label class="btn disabled" id="customer_form_label">
        <input type="submit" id="customer_form_submit" disabled="disabled">
        Next
      </label>
    </form>
  </main>

  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>