<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 2</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo bg-white">
          <img src="img/Ecooking_logo_black.png" alt="logo" />
        </div>

        <div class="header-block bg-gray">
          <h5>QUESTION 1</h5>

          <h2>Did you know Ecooking before this trial?</h2>
        </div>

        <form action="step_3.html" method="get" class="container container__md">
          <input type="hidden" name="question" value="Did you know Ecooking before this trial?" />

          <img src="img/img2.jpg" alt="product">

          <div class="btns">
            <label class="btn">
              <input type="submit" name="answer" value="Yes" hidden />
              YES
            </label>

            <label class="btn">
              <input type="submit" name="answer" value="No" hidden />
              NO
            </label>
          </div>
        </form>
      </div>

      <div class="grid-position--bottom">
      </div>
    </div>
  </main>
</body>

</html>