<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Page 3</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo bg-white">
          <img src="img/Ecooking_logo_black.png" alt="logo" />
        </div>

        <div class="header-block bg-gray">
          <h5>QUESTION 2</h5>

          <h2>Please select one product you would like to receive</h2>
        </div>

        <form action="step_4.html" method="get" class="container">
          <input type="hidden" name="question" value="Please select one product you would like to receive" />

          <div class="cards-wrap">
            <div class="card">
              <h3>
                Anti redness cream
              </h3>

              <img src="img/img3.png" alt="Anti redness cream">

              <a href="#" class="popup-open">READ MORE</a>

              <label class="btn">
                <input type="submit" name="answer" value="ANTI REDNESS CREAM" hidden />
                Select
              </label>

              <div class="popup-wrapper">
                <div class="popup">
                  <div class="popup__close">
                    <button></button>
                  </div>
                  <div class="popup__content">
                    <img src="img/img3.png" alt="Anti redness cream">
                    <div class="popup__text">
                      <h4>
                        Anti redness cream
                      </h4>
                      <p>
                        This soothing cream efficiently reduces irritation, whilst neutralising redness. This cream has
                        a calming and moisturising effect on the skin and leaves if soft and at ease. It’s a lasting
                        solution to sensitive skin that suffers from redness. Ideal for sensitive skin or if prone to
                        acne.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <h3>
                Night cream
              </h3>

              <img src="img/img4.png" alt="Night cream">

              <a href="#" class="popup-open">READ MORE</a>

              <label class="btn">
                <input type="submit" name="answer" value="Night cream" hidden />
                Select
              </label>

              <div class="popup-wrapper">
                <div class="popup">
                  <div class="popup__close">
                    <button></button>
                  </div>
                  <div class="popup__content">
                    <img src="img/img4.png" alt="Night cream">
                    <div class="popup__text">
                      <h4>
                        Night cream
                      </h4>
                      <p>
                        This soothing cream efficiently reduces irritation, whilst neutralising redness. This cream has
                        a calming and moisturising effect on the skin and leaves if soft and at ease. It’s a lasting
                        solution to sensitive skin that suffers from redness. Ideal for sensitive skin or if prone to
                        acne.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="grid-position--bottom">
      </div>
    </div>
  </main>

  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>